* {
  font-family: sans-serif;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 90px 90vh;
  grid-template-areas:
    "header"
    "main";
  background-image: url("img/city.jpg");
  background-size: cover;
}

header {
  display: flex;
  width: 100%;
  grid-area: header;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 25, 25);
}

.logo {
  display: flex;
  justify-content: center;
  height: 55px;
}

/* main content starts here*/
main {
  display: flex;
  grid-area: main;
  margin-left: 50px;
  margin-top: 100px;
}

/* next 25rows is code inspired by this youtube video, "https://www.youtube.com/watch?v=Hv0AiWFAiRg" */
input[type="text"],
#button {
  position: relative;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.9);
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}

#button {
  border-radius: 0 25px 25px 0;
  width: 140px;
  color: white;
  background-color: rgb(25, 25, 25);
  cursor: pointer;
  transition: 1s;
  left: -5px;
}
/* gradient created at and imported from this website, "https://cssgradient.io/" */
#button:hover {
  background: rgb(122, 115, 22);
  background: linear-gradient(
    90deg,
    rgba(122, 115, 22, 1) 0%,
    rgba(122, 56, 0, 1) 69%
  );
  color: #f69107;
}

.container {
  display: grid;
  grid-template-rows: 90px 1fr;
  grid-template-areas:
    "inputfield"
    "list";
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.item-div {
  display: flex;
  align-items: center;
  width: 75%;
  margin-top: 10px;
  padding: 7.5px 20px;
  border-radius: 7.5px;
  height: 35px;
  background-color: rgba(100, 100, 100, 0.5);
  font-size: 20px;
  color: white;
  justify-content: space-between;
}
.item-div:hover {
  cursor: pointer;
  background-color: rgba(50, 50, 50, 0.5);
}

.item-button {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  padding: 0.1rem;
  width: 35px;
  height: 35px;
  background-image: url("img/delete-button.png");
  background-size: cover;
}
.item-button:hover {
  cursor: pointer;
}
